*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html,
body {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 62.5%;
  box-sizing: border-box;
}

h6 {
  font-size: 1.6rem;
}

p,
ul,
li {
  font-size: 1.6rem;
}

.space-1 {
  height: 1rem;
  width: 100%;
}

.space-2 {
  height: 2rem;
  width: 100%;
}

.space-3 {
  height: 3rem;
  width: 100%;
}

.space-4 {
  height: 4rem;
  width: 100%;
}

a {
  text-decoration: none !important;
}

.arrow {
  display: none;
}

.pagination {
  display: none;
}
