.dryvans-container {
  background-color: #fafafa;
  //   background-color: pink;
}

.dryvans {
  //   min-height: 150rem;
  padding-bottom: 10rem;
  position: relative;

  &__tab-one-col-left {
    font-size: 62.5% !important;
    box-sizing: border-box !important;
    font-family: 'Montserrat', sans-serif !important;
    padding-top: 5rem;
    margin-left: -4rem;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  &__tab-one-heading {
    margin-top: 5rem;
    font-size: 3.6rem;
    font-weight: 600;
    // width: 70%;
    color: black;
  }

  &__tab-one-text {
    // width: 40%;
    margin-top: 5rem;
    font-size: 1.7rem;
    font-weight: 500;
    color: black;
  }

  &__tab-one-col-right {
  }

  &__wrapper {
    margin-left: -2rem;
    font-size: 62.5% !important;
    box-sizing: border-box !important;
    font-family: 'Montserrat', sans-serif !important;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
  }

  &__heading {
    margin-top: 5rem;
    font-size: 3.6rem;
    font-weight: 600;
    width: 70%;
    color: black;

    @media (min-width: 320px) and (max-width: 576px) {
      width: 100%;
    }

    @media (min-width: 576px) and (max-width: 768px) {
      width: 100%;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      width: 100%;
    }

    @media (min-width: 992px) and (max-width: 1200px) {
      width: 100%;
    }

    @media (min-width: 1548px) and (max-width: 1750px) {
    }
  }

  &__sub-heading {
    margin-top: 5rem;
    font-size: 2.8rem;
    font-weight: 600;
    color: black;
  }

  &__text {
    width: 40%;
    margin-top: 5rem;
    font-size: 1.7rem;
    font-weight: 500;
    color: black;

    @media (min-width: 320px) and (max-width: 576px) {
      width: 100%;
    }

    @media (min-width: 576px) and (max-width: 768px) {
      width: 100%;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      width: 100%;
    }

    @media (min-width: 992px) and (max-width: 1200px) {
      width: 100%;
    }

    @media (min-width: 1548px) and (max-width: 1750px) {
    }
  }

  &__images-wrapper {
    margin-top: 10rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 320px) and (max-width: 576px) {
    }

    @media (min-width: 576px) and (max-width: 768px) {
    }

    @media (min-width: 768px) and (max-width: 992px) {
    }

    @media (min-width: 992px) and (max-width: 1200px) {
    }

    @media (min-width: 1548px) and (max-width: 1750px) {
    }
  }

  &__image {
    margin: 2rem;
    height: 38rem;
    width: 56rem;
  }

  &__sub-wrapper {
    margin-top: 10rem;
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
    @media (min-width: 320px) and (max-width: 576px) {
      flex-flow: column;
      align-items: center;
    }
  }

  &__ter-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
  }

  &__image-wrapper {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 14rem;
    width: 14rem;
    border-radius: 50%;
    background-color: rgba($secondary, 0.1);
  }

  &__label {
    font-size: 1.8rem;
    font-weight: 600;
    color: $primary;
    margin-top: 5rem;
    text-align: center;
    width: 70%;

    @media (min-width: 320px) and (max-width: 576px) {
    }

    @media (min-width: 576px) and (max-width: 768px) {
      font-size: 1.2rem;
      width: 90%;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      font-size: 1.4rem;
      width: 90%;
    }

    @media (min-width: 992px) and (max-width: 1200px) {
      font-size: 1.6rem;
      width: 80%;
    }

    @media (min-width: 1548px) and (max-width: 1750px) {
    }
  }

  &__sub-text {
    margin-top: 5rem;
    font-size: 1.7rem;
    font-weight: 500;
    color: black;
    text-align: center;

    @media (min-width: 320px) and (max-width: 576px) {
      font-size: 1.2rem;
      margin-bottom: 5rem;
      width: 100%;
    }

    @media (min-width: 576px) and (max-width: 768px) {
      font-size: 1rem;
      width: 80%;
    }

    @media (min-width: 768px) and (max-width: 992px) {
      font-size: 1.2rem;
      width: 80%;
    }

    @media (min-width: 992px) and (max-width: 1200px) {
      font-size: 1.4rem;
      width: 80%;
    }

    @media (min-width: 1548px) and (max-width: 1750px) {
    }
  }
}
